.select li i{
    margin: 15px 30px 15px 30px;
}
.select li{
    display: inline;
}
.select li a{
    display: block;
}
.select:hover li a:hover{
    background-color: red;
}
.finddm{
    background-color: chartreuse;
}